{% include 'header.html' %}
<body>
    <div class="title">
        <h1>Confirm Delete</h1>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="logout-btn">Wyloguj się</a>
        {% endif %}
    </div>
    <div class="form-input">
        <p>Are You Sure you want to delete?</p>
            <div class="item-deleted">
                <h1>{{item}}</h1>
            </div>
        <div class="form-field">
            <a href="{% url 'list' %}" class="cancel-button">Cancel</a>
        </div>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-field">
                <input type="submit" name="Confirm" value="Confirm" class="cancel-button">
            </div>
        </form>
    </div>
</body>
</html>