{% include 'header.html' %}
    <body>
        <div class="title">
            <h1>ToDoList</h1>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="logout-btn">Wyloguj się</a>
            {% endif %}
        </div>
        <div class="form-input">
            <form method="POST" action="">
                {% csrf_token %}
                {{form.title}}
                <input type="submit" name="Create Task" value="Submit">
            </form>
        </div>
            {% for task in tasks%}
            <div class="task">
                <div class="task-content">
                    {% if task.complete == True %}
                    <strike>{{task}}</strike>
                    {% else %}
                    <span>{{task}}</span>
                    {% endif %}
                </div>
                <div class="task-buttons">
                    <a href="{% url 'update_task' task.id %}" class="a_update">Update</a>
                    <a href="{% url 'delete' task.id %}" class="a_delete">Delete</a>
                </div>
            </div>
            {% endfor %}
       
    </body>
</html>