{% include 'header.html' %}
    <body>
        <div class="title">
            <h1>Update Task</h1>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="logout-btn">Wyloguj się</a>
            {% endif %}
        </div>
        <div class="form-input">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-field">
                    <label for="id_title">Title:</label>
                    {{ form.title }}
                </div>
                <div class="form-field">
                    <label for="id_complete" class="checkbox-label">Complete: {{ form.complete }}</label>
                </div>
                <input type="submit" name="Update Task" value="Submit">
            </form>
        </div>

    </body>
</html>